@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ai-dark text-white;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #020617;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #020617;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}


body.theme-dark {
  @apply bg-ai-dark text-white;
}

body.theme-light {
  @apply bg-white text-gray-900;
}

body.theme-light .bg-ai-dark {
  @apply bg-white;
}

body.theme-light .bg-ai-card {
  @apply bg-slate-100;
}

body.theme-light .text-white {
  @apply text-gray-900;
}


body.theme-light .text-gray-100 {
  @apply text-gray-900;
}

body.theme-light .text-gray-200 {
  @apply text-gray-900;
}

body.theme-light .text-gray-300 {
  @apply text-gray-800;
}

body.theme-light .text-gray-400 {
  @apply text-gray-700;
}

body.theme-light .text-gray-500 {
  @apply text-gray-700;
}
